{{ template "header.html" .}}

<div class="container">

    <!-- bage header start -->
    <div class="page-header">
        <h1>{{ .publication.Title}}</h1>
    </div>
    <!-- bage header end -->

</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-sm-11">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="row">
                            <div class="col-sm-16"> <img width="1000" height="606" alt="" src="/public/content/{{ (index .publication.Images 0).Url }}" class="img-thumbnail"> </div>
                            <div class="col-sm-16 sec-info">
                                <h3>{{ .publication.Title}}</h3>
                                <p>{{.publication.Body | unsafeHtml}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


{{ template "footer.html" .}}