{{define "video_card"}}
<article class="one_x_one project format-standard hentry pj-categs-home" data-category="home">
    <div class="project_outer">
        <figure class="cmsms_img_rollover_wrap preloader">
            <img width="580" height="460" src="/public{{ (index .Images 0).File.URL "article_preview" }}" class="full-width" alt="{{ .Title}}"
                 title="{{ .Title}}"/>
            <div class="cmsms_img_rollover">
                <a href="/public{{ (index .Images 0).File.URL "article_preview" }}" rel="ilightbox[84_553e49e80eb87]" title="{{ .Title}}"
                   class="cmsms_image_link">
                    <span class="cmsms-icon-search-7"></span>
                </a>
                <a href="open-project.html" title="{{ .Title}}" class="cmsms_open_link">
                    <span class="cmsms-icon-attach-6"></span>
                </a>
            </div>
        </figure>
        <div class="project_inner">
            <header class="cmsms_project_header entry-header">
                <h3 class="cmsms_project_title entry-title">
                    <a href="open-project.html">{{ .Title}}</a>
                </h3>
            </header>
            <div class="cmsms_project_cont_info entry-meta">
                <span class="cmsms_project_category">
                    <a href="open-project.html"
                       rel="tag">Home</a>
                </span>
            </div>
        </div>
        <span class="dn meta-date">20140717113735</span>
        <div class="cl"></div>
    </div>
</article>
{{ end }}