{{ define "content_not_found"}}
{{template "html-top"}}
<!-- _________________________ Finish Header _________________________ -->
<!-- _________________________ Start Middle _________________________ -->
<section id="middle" class="error_page">
    <div class="middle_inner">
        <!-- _________________________ Start Content _________________________ -->
        <div class="entry">
            <div class="error">
                <div class="error_bg" style="background:rgba(61, 61, 61, 1);">
                    <div class="error_inner" style=""><h1 class="error_title">404</h1></div>
                </div>
            </div>
        </div>
        <section class="content_wrap fullwidth">
            <div class="error">
                <h2 class="error_subtitle">We&#039;re sorry, but the page you were looking for doesn&#039;t exist.</h2>
                <div class="search_bar_wrap">
                    <form method="get">
                        <p>
                            <input name="s" placeholder="enter keywords" value="" type="text"/>
                            <button type="submit" class="cmsms-icon-search-7"></button>
                        </p>
                    </form>
                </div>
            </div>
            <!-- _________________________ Finish Content _________________________ -->
        </section>
    </div>
</section>
{{template "html-bottom"}}
{{ end }}
