{{ define "footer-section"}}
<section id="footer" class="footer-bg">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-4">
                <h4>Social</h4>
            </div>
            <div class="col-lg-4">
                <h4>Flickr</h4>
                <div class="flicker">
                    <img class="img-fluid" src="https://placeimg.com/100/100/any" alt="">
                    <img class="img-fluid" src="https://placeimg.com/100/100/nature" alt="">
                    <img class="img-fluid" src="https://placeimg.com/100/100/people" alt="">
                    <img class="img-fluid" src="https://placeimg.com/100/100/cats" alt="">
                    <img class="img-fluid" src="https://placeimg.com/100/100/any" alt="">
                    <img class="img-fluid" src="https://placeimg.com/100/100/any" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Contact</h4>
                <p class="text-white cmsms-icon-location">#214 Uselu Lagos Road, Ugbowo, Benin City</p>
                <p class="text-white cmsms-icon-phone-circled">+234 906 975 6927, +234 817 370 6095</p>
                <p class="text-white cmsms-icon-email">home@homef.org</p>
            </div>
        </div>
    </div>
</section>
{{ end}}