{{define "header_layout"}}
<header id="header">
    <div class="header_mid" data-height="95">
        <div class="header_mid_outer">
            <div class="header_mid_inner">
                <div class="logo_wrap">
                    <a href="/" title="HOMEF" class="logo">
                        <img src="/public/img/brand-logo.png" alt="Eco Nature" />
                        <img class="logo_retina" src="/public/img/brand-logo.png" />
                    </a>
                </div>
                <div class="resp_nav_wrap">
                    <div class="resp_nav_wrap_inner">
                        <div class="resp_nav_content">
                            <a class="responsive_nav cmsms-icon-menu-2" href="javascript:void(0);"></a>
                        </div>
                    </div>
                </div>

                <!-- _________________________ Start Navigation _________________________ -->
                <nav role="navigation">
                    <div class="menu-main-container">
                        <ul id="navigation" class="navigation">
                            <li class="current-menu-item">
                                <a href="/">
                                    <span class="nav_bg_clr"></span>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/aboutus">
                                    <span class="nav_bg_clr"></span>
                                    <span>About Us</span>
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <span class="nav_bg_clr"></span>
                                    <span>Resources</span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="blog-standard.html"><span>Standard</span></a></li>
                                    <li><a href="blog-masonry.html"><span>Masonry</span></a></li>
                                    <li><a href="blog-timeline.html"><span>Timeline</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="nav_bg_clr"></span>
                                    <span>Contact Us</span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="profiles-vertical.html"><span>Vertical</span></a></li>
                                    <li><a href="profiles-horisontal.html"><span>Horisontal</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown menu-item menu-item-has-children">
                                <a href="#">
                                    <span class="nav_bg_clr"></span>
                                    <span>Elements</span>
                                </a>
                                <ul class="sub-menu fl_l">
                                    <li><a href="typography.html"><span>Typography</span></a></li>
                                    <li>
                                        <a href="#"><span>Shortcodes</span></a>
                                        <ul class="sub-menu cmsms_left">
                                            <li><a href="shortcodes-1.html"><span>Shortcodes #1</span></a></li>
                                            <li><a href="shortcodes-2.html"><span>Shortcodes #2</span></a></li>
                                            <li><a href="shortcodes-3.html"><span>Shortcodes #3</span></a></li>
                                            <li><a href="shortcodes-4.html"><span>Shortcodes #4</span></a></li>
                                            <li><a href="shortcodes-5.html"><span>Shortcodes #5</span></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="forms.html"><span>Forms</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">
                                    <span class="nav_bg_clr"></span>
                                    <span>Contacts</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="cl"></div>
                </nav>
                <!-- _________________________ Finish Navigation _________________________ -->
            </div>
        </div>
    </div>
</header>
{{ end }}