{{define "head"}}
<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 8)]><!-->
<html lang="en-US" class="cmsms_html">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon" />

    <title>HOMEF | Home</title>

    <link rel='stylesheet' href='/public/LayerSlider/css/layerslider.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin,latin-ext' type='text/css' media='all' />
    <link rel="stylesheet" type="text/css" href="/public/css/settings.css" media="screen" />
    <link rel='stylesheet' href='/public/css/style.css' />
    <link rel='stylesheet' href='/public/css/adaptive.css' />
    <link rel='stylesheet' href='/public/css/retina.css' />
    <link rel='stylesheet' href='/public/css/ilightbox.css' />
    <link rel='stylesheet' href='/public/css/ilightbox-skins/dark-skin.css' />
    <link rel='stylesheet' href='/public/css/cmsms-events-style.css' />
    <link rel='stylesheet' href='/public/css/cmsms-events-adaptive.css' />
    <link rel='stylesheet' href='/public/css/fontello.css' />
    <link rel='stylesheet' href='/public/css/animate.css' />
    <!--[if lte IE 9]>
    <link rel='stylesheet' href='/public/css/ie.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='/public/css/econature_fonts.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='/public/css/econature_colors_primary.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='/public/css/econature_colors_secondary.css' type='text/css' media='screen' />
    <![endif]-->
    <link rel='stylesheet' href='/public/css/econature.css' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen%3A300%2C400%2C700&#038;ver=4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='et-builder-googlefonts-cached-css'
          href='http://fonts.googleapis.com/css?family=Nunito%3A200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=4.9.8#038;subset=latin,latin-ext'
          type='text/css'
          media='all' />

    <link rel='stylesheet' href='/public/css/jquery.isotope.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='/public/css/homepage.css' />
    <link rel='stylesheet' href='/public/css/custom.css' />


    <script type='text/javascript' src='/public/js/jquery.js'></script>
    <script type='text/javascript' src='/public/js/jquery-migrate.min.js'></script>
</head>
<body>
<!-- _________________________ Start Page _________________________ -->
<div id="page" class="csstransition cmsms_liquid fixed_header hfeed site">
    <!-- _________________________ Start Main _________________________ -->
    <div id="main">
{{ end }}