{{define "home_page"}}
{{template "head"}}
        <!-- _________________________ Start Header _________________________ -->
    {{template "header_layout" .}}
        <!-- _________________________ Finish Header _________________________ -->
        <!-- _________________________ Start Middle _________________________ -->
        <section id="middle">
            <div class="middle_inner">
                <!--_________________________ Start Content _________________________ -->
                <div id="cmsms_row_1" class="cmsms_row cmsms_color_scheme_default">
                {{ template "layer_slider"}}
                </div>
                <div id="cmsms_row_2" class="cmsms_row cmsms_color_scheme_default">
                    <div class="cmsms_row_outer_parent">
                        <div class="cmsms_row_outer">
                            <div class="cmsms_row_inner">
                                <div class="cmsms_row_margin">
                                    <div class="cmsms_column one_fourth">
                                        <div class="aligncenter">
                                            <div class="cmsms_img  cmsms_image_c" data-animation="fadeInUp"
                                                 data-delay="300">
                                                <a href="#"><img src="/public/img/images/recycling.jpg" alt=""/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmsms_column one_fourth">
                                        <div class="aligncenter">
                                            <div class="cmsms_img  cmsms_image_c" data-animation="fadeInUp"
                                                 data-delay="600">
                                                <a href="#"><img src="/public/img/images/ecosystem.jpg" alt=""/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmsms_column one_fourth">
                                        <div class="aligncenter">
                                            <div class="cmsms_img  cmsms_image_c" data-animation="fadeInUp"
                                                 data-delay="900">
                                                <a href="#"><img src="/public/img/images/organic.jpg" alt=""/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmsms_column one_fourth">
                                        <div class="aligncenter">
                                            <div class="cmsms_img  cmsms_image_c" data-animation="fadeInUp"
                                                 data-delay="1200">
                                                <a href="#"><img src="/public/img/images/biology.jpg" alt=""/></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cmsms_row_10" class="cmsms_row cmsms_color_scheme_default">
                    <div class="cmsms_row_outer_parent">
                        <div class="cmsms_row_outer">
                            <div class="cmsms_row_inner">
                                <div class="cmsms_row_margin">
                                    <div class="cmsms_column one_first">
                                        <h2 id="cmsms_heading_553e49e81fcae" class="cmsms_heading">Latest News</h2>
                                        <div class="cmsms_posts_slider">
                                            <script type="text/javascript">
                                                jQuery(document).ready(function () {
                                                    var container = jQuery('.cmsms_slider_553e49e81fd81');
                                                    containerWidth = container.width(),
                                                            firstPost = container.find('article'),
                                                            postMinWidth = Number(firstPost.css('minWidth').replace('px', '')),
                                                            postThreeColumns = (postMinWidth * 4) - 1;
                                                    postTwoColumns = (postMinWidth * 3) - 1;
                                                    postOneColumns = (postMinWidth * 2) - 1;


                                                    jQuery('.cmsms_slider_553e49e81fd81').owlCarousel({
                                                        items: 4,
                                                        itemsDesktop: false,
                                                        itemsDesktopSmall: [postThreeColumns, 3],
                                                        itemsTablet: [postTwoColumns, 2],
                                                        itemsMobile: [postOneColumns, 1],
                                                        transitionStyle: false,
                                                        rewindNav: true,
                                                        slideSpeed: 200,
                                                        paginationSpeed: 800,
                                                        rewindSpeed: 1000, autoPlay: 7000, stopOnHover: true,
                                                        autoHeight: true,
                                                        addClassActive: true,
                                                        responsiveBaseWidth: '.cmsms_slider_553e49e81fd81',
                                                        pagination: false,
                                                        navigation: true,
                                                        navigationText: ["<span class=\"cmsms_prev_arrow\"></span>", "<span class=\"cmsms_next_arrow\"></span>"]
                                                    });
                                                });
                                            </script>
                                            <div id="cmsms_owl_carousel_553e49e81fd81"
                                                 class="cmsms_owl_slider cmsms_slider_553e49e81fd81">
                                            {{ range .posts}}
															{{ template "article_item" .}}
														{{ end }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cmsms_row_7" class="cmsms_row cmsms_color_scheme_default" data-stellar-background-ratio="0.5">
                    <div class="cmsms_row_outer_parent">
                        <div class="cmsms_row_outer">
                            <div class="cmsms_row_inner cmsms_row_fullwidth">
                                <div class="cmsms_row_margin">
                                    <div class="cmsms_column one_first">
                                        <h2 id="cmsms_heading_553e49e808e7f" class="cmsms_heading">Videos</h2>
                                        <div class="cmsms_wrap_portfolio entry-summary" id="portfolio_553e49e808f56"
                                             data-meta="title,categories,rollover">
                                            <script type="text/javascript">
                                                jQuery(document).ready(function () {
                                                    (function ($) {
                                                        if ($('#portfolio_553e49e808f56').find('article').length == '0') {
                                                            return false;
                                                        }


                                                        startPortfolio(
                                                                '553e49e808f56',
                                                                'puzzle',
                                                                'perfect',
                                                                'date',
                                                                'DESC',
                                                                '10',
                                                                'animals,biology,ecology,home,people,water'
                                                        );
                                                    })(jQuery);
                                                });
                                            </script>
                                            <div class="portfolio puzzle zero_gap perfect">
                                            {{range .videos}}
                                                            {{template "video_card" .}}
                                                        {{end}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cmsms_row_8" class="cmsms_row cmsms_color_scheme_default">
                    <div class="cmsms_row_outer_parent">
                        <div class="cmsms_row_outer">
                            <div class="cmsms_row_inner">
                                <div class="cmsms_row_margin">
                                    <div class="cmsms_column one_first">
                                        <h2 id="cmsms_heading_553e49e81ea44" class="cmsms_heading">Our Mission</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cmsms_row_9" class="cmsms_row cmsms_color_scheme_default">
                    <div class="cmsms_row_outer_parent">
                        <div class="cmsms_row_outer">
                            <div class="cmsms_row_inner">
                                <div class="cmsms_row_margin">
                                    <div class="cmsms_column one_half">
                                        <ul id="cmsms_icon_list_items_553e49e81ee7b"
                                            class="cmsms_icon_list_items cmsms_icon_list_type_block cmsms_icon_list_pos_right cmsms_color_type_icon">
                                            <li id="cmsms_icon_list_item_553e49e81efbc" class="cmsms_icon_list_item">
                                                <div class="cmsms_icon_list_item_inner">
                                                    <div class="cmsms_icon_list_icon_wrap">
                                                        <span class="cmsms_icon_list_icon cmsms-icon-cloud-7"></span>
                                                    </div>
                                                    <div class="cmsms_icon_list_item_content">
                                                        <h2 class="cmsms_icon_list_item_title"> Ecology Today</h2>
                                                        <div class="cmsms_icon_list_item_text">
                                                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate
                                                                velit esse molestie consequat, vel illum dolore eu
                                                                feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li id="cmsms_icon_list_item_553e49e81f115" class="cmsms_icon_list_item">
                                                <div class="cmsms_icon_list_item_inner">
                                                    <div class="cmsms_icon_list_icon_wrap">
                                                        <span class="cmsms_icon_list_icon cmsms-icon-star-7"></span>
                                                    </div>
                                                    <div class="cmsms_icon_list_item_content">
                                                        <h2 class="cmsms_icon_list_item_title">Dynamic Ecology</h2>
                                                        <div class="cmsms_icon_list_item_text">
                                                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate
                                                                velit esse molestie consequat, vel illum dolore eu
                                                                feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cmsms_column one_half">
                                        <ul id="cmsms_icon_list_items_553e49e81f520"
                                            class="cmsms_icon_list_items cmsms_icon_list_type_block cmsms_icon_list_pos_left cmsms_color_type_icon">
                                            <li id="cmsms_icon_list_item_553e49e81f676" class="cmsms_icon_list_item">
                                                <div class="cmsms_icon_list_item_inner">
                                                    <div class="cmsms_icon_list_icon_wrap">
                                                        <span class="cmsms_icon_list_icon cmsms-icon-heart-7"></span>
                                                    </div>
                                                    <div class="cmsms_icon_list_item_content">
                                                        <h2 class="cmsms_icon_list_item_title">Plant Ecology</h2>
                                                        <div class="cmsms_icon_list_item_text">
                                                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate
                                                                velit esse molestie consequat, vel illum dolore eu
                                                                feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li id="cmsms_icon_list_item_553e49e81f7b9" class="cmsms_icon_list_item">
                                                <div class="cmsms_icon_list_item_inner">
                                                    <div class="cmsms_icon_list_icon_wrap">
                                                        <span class="cmsms_icon_list_icon cmsms-icon-trash-8"></span>
                                                    </div>
                                                    <div class="cmsms_icon_list_item_content">
                                                        <h2 class="cmsms_icon_list_item_title">Recycling Rubbish</h2>
                                                        <div class="cmsms_icon_list_item_text">
                                                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate
                                                                velit esse molestie consequat, vel illum dolore eu
                                                                feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cl"></div>
                <!-- _________________________ Finish Content _________________________ -->
            </div>
        </section>
        <!-- _________________________ Finish Middle _________________________ -->
        <a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
    </div>
    <!-- _________________________ Finish Main _________________________ -->
    <!-- _________________________ Start Footer _________________________ -->
{{template "footer_content"}}
{{template "base_footer"}}
    <!-- _________________________ Finish Footer _________________________ -->
{{ end }}