{{define "home_page2"}}
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/main.css"/>
    <title>Home of Mother Earth Foundation</title>
</head>

<body class="landing is-preload">

<!-- Header -->
<header id="header" class="alt">
    <h1><a href="/"><img src="/public/img/Homef-Logo.png" alt=""></a></h1>
    <nav id="nav">
        <ul>
            <li class="current-menu-item">
                <a href="/">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/aboutus">
                    <span>About Us</span>
                </a>
            </li>
            <li>
                <a href="#" class="submenu">
                    <span>Resources</span>
                </a>
                <ul>
                    <li><a href="/publications">Publications</a></li>
                    <li><a href="/reports">Reports</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="submenu">
                    Programmes
                </a>
                <ul>
                    <li><a href="/sustainability-academy">Sustainability Academy</a></li>
                    <li><a href="/fossil-politics">Fossil Politics</a></li>
                    <li><a href="/hunger-politics">Hunger Politics</a></li>
                </ul>
            </li>
            <li>
                <a href="/contacts">
                    Contacts
                </a>
            </li>
        </ul>

        {{/*<ul>*/}}
            {{/*<li><a href="index.html">Home</a></li>*/}}
            {{/*<li>*/}}
                {{/*<a href="#" class="submenu">Page Layouts</a>*/}}
                {{/*<ul>*/}}
                    {{/*<li><a href="left-sidebar.html">Left Sidebar</a></li>*/}}
                    {{/*<li><a href="right-sidebar.html">Right Sidebar</a></li>*/}}
                    {{/*<li><a href="no-sidebar.html">No Sidebar</a></li>*/}}
                    {{/*<li>*/}}
                        {{/*<a href="#">Submenu</a>*/}}
                        {{/*<ul>*/}}
                            {{/*<li><a href="#">Option One</a></li>*/}}
                            {{/*<li><a href="#">Option Two</a></li>*/}}
                            {{/*<li><a href="#">Option Three</a></li>*/}}
                            {{/*<li><a href="#">Option Four</a></li>*/}}
                        {{/*</ul>*/}}
                    {{/*</li>*/}}
                {{/*</ul>*/}}
            {{/*</li>*/}}
            {{/*<li><a href="elements.html">Elements</a></li>*/}}
        {{/*</ul>*/}}
    </nav>
</header>

<!-- Banner -->
<section id="banner">
    <div class="content">
        <div class="inner">
            <header>
                <h2>Examining the roots of exploitation of resources, peoples and nations</h2>
                <p>Nurturing movements for the recovery of memory, dignity, and harmonious living with Mother Earth.</p>
            </header>
        </div>
    </div>
</section>
<section id="programmes">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/public/img/Fossil-politics.jpg" class="img-fluid" alt="Fossil Politics">
            </div>
            <div class="col-md-4">
                <img src="/public/img/Sustainablity-Academy.jpg" class="img-fluid" alt="Sustainability Academy">
            </div>
            <div class="col-md-4">
                <img src="/public/img/Hunger-politics.jpg" class="img-fluid" alt="Hunger Politics">
            </div>
        </div>
    </div>

</section>
<!-- Two -->
<section id="two" class="wrapper cta">
    <div class="inner">
        <header>
            <h2>Who We Are</h2>
            <ul class="actions">
                <li><a href="#" class="button big">Know More</a></li>
            </ul>
        </header>
        <p>We are an ecological think tank organisation advocating for environmental and climate justice and food sovereignty in Nigeria and Africa at large</p>
    </div>
</section>
<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner">
        <header>
            <h2>Latest News</h2>
        </header>
        <div class="posts">
        {{ range .posts}}
            {{template "activity_new_item" .}}
        {{end}}
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="content">
        <div class="inner">
            <section class="about">
                <h3>Integer vitae sed feugiat</h3>
                <p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed amet ac lorem ipsum interdum tempus sagittis
                    lorem tempus.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </section>
            <ul class="icons bulleted">
                <li class="icon fa-map-marker">
                    <h3>Address</h3>
                    <p>#214 Uselu-Lagos Road, Ugbowo<br/> P.O Box 10577, Benin City, Nigeria</p>
                </li>
                <li class="icon fa-phone">
                    <h3>Phone</h3>
                    <p>+234 906 975 6927<br/>
                        +234 817 370 6095
                    </p>
                </li>
                <li class="icon fa-envelope-o">
                    <h3>Email</h3>
                    <p><a href="#">home@homef.org</a></p>
                </li>
            </ul>
        </div>
    </div>
    <p class="copyright">&copy; Untitled. All rights reserved.<br/>
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
</footer>

<!-- Scripts -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/jquery.dropotron.min.js"></script>
<script src="/public/js/jquery.scrollex.min.js"></script>
<script src="/public/js/browser.min.js"></script>
<script src="/public/js/breakpoints.min.js"></script>
<script src="/public/js/util.js"></script>
<script src="/public/js/main.js"></script>

</body>

</html>
{{ end }}