{{define "landing-page"}}
{{template "html-top"}}
{{template "header-nav" .active}}
<section class="home-banner">
    <div class="container ">
        <div class="row">
            <div class="col-12 front-item">
                <h1 class="text-center front-text">
                    Examining the roots of exploitation of resources, peoples and nations
                </h1>
                <p class="col-md-6 offset-md-3  text-center banner-text">Nurturing movements for the recovery of memory,
                    dignity, and harmonious living with Mother Earth.</p>
            </div>
        </div>
    </div>
</section>
<section id="programmes">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="/public/img/Sustainability-Academy-2-510x382.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-4">
                <img src="/public/img/Fossil-politics-510x382.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-4">
                <img src="/public/img/Hunger-politics-510x382.jpg" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="/public/img/march-against-poison.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 about-us-content">
                <h1>Our Motivations</h1>
                <div class="container">
                    <div class="media">
                        <img class="align-self-center mr-3" src="/public/img/earth.png" alt="Mother Earth">
                        <div class="media-body d-flex justify-content-start">
                            <p class="align-self-center">The rights of Mother Earth must be safeguarded</p>
                        </div>
                    </div>
                    <div class="media">
                        <img class="align-self-center mr-3" src="/public/img/protest.png" alt="Generic placeholder image">
                        <div class="media-body d-flex justify-content-center">
                            <p>Comunities should be equipped to reject oppression and pollution in their
                                environment</p>
                        </div>
                    </div>
                    <div class="media">
                        <img class="align-self-center mr-3" src="/public/img/justice.png" alt="Generic placeholder image">
                        <div class="media-body d-flex justify-content-center">
                            <p class="align-self-center">Justice must prevail in our engagement with the environment, food systems and
                                nature’s cycles at policy, corporate, and individual level</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="latest-posts">
    <div class="container">
        <div id="posts-header">
            <hr>
            <h2>Latest Posts</h2>
        </div>
        <div class="card-columns">
        {{ range .posts}}
        {{ template "article-item" .}}
        {{ end }}
        </div>
    </div>
</section>
{{template "footer-section"}}

{{template "html-bottom"}}
{{end}}