{{ define "publications_home"}}
{{template "head"}}
{{template "header_layout"}}
<section id="middle">
    <div class="headline cmsms_color_scheme_first">
        <div class="headline_outer">
            <div class="headline_color"></div>
            <div class="headline_inner align_center">
                <div class="headline_aligner"></div>
                <div class="headline_text headline_subtitle"><h1 class="entry-title">Publications</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>Publications will one placed here... Need more understanding</p>
    </div>

</section>
{{template "footer_content"}}
{{template "base_footer"}}
{{ end }}