{{define "singlepost"}}
{{template "html-top"}}
{{template "header-nav" .active}}
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="post-title">{{ .post.Title}}</h1>
                <img class="img-fluid post" src="/public{{(index .post.Images 0).File.URL }}" alt="">
                <div class="body-text">
                {{ .post.Body | unsafeHtml}}
                </div>
            </div>
            <div class="col-lg-3">
                <h3>Sidebar</h3>
            </div>
        </div>
    </div>
</section>
{{template "footer-section"}}
{{template "html-bottom"}}
{{end}}