{{ define "article_item"}}
<div>
    <!--_________________________ Start Standard Article _________________________ -->
    <article class="post">
        <span class="cmsms_slider_post_format_img"></span>
        <div class="cmsms_slider_post_cont">
            <figure class="cmsms_img_rollover_wrap preloader">
                <img width="580" height="580" src="/public{{(index .Images 0).File.URL "article_preview" }}" class="full-width"
                     alt="The Ozone Layer" title="The Ozone Layer"/>
                <div class="cmsms_img_rollover">
                    <a href="/public{{(index .Images 0).File.URL "original" }}" rel="ilightbox[172_553e49e8225bb]"
                       title="{{ .Title}}" class="cmsms_image_link">
                        <span class="cmsms-icon-search-7"></span>
                    </a>
                    <a href="/posts/{{ .ID}}" title="{{ .Title}}" class="cmsms_open_link">
                        <span class="cmsms-icon-attach-6"></span>
                    </a>
                </div>
            </figure>
            <header class="cmsms_slider_post_header entry-header">
                <h3 class="cmsms_slider_post_title entry-title">
                    <a href="/posts/{{ .ID}}">{{ .Title }}</a>
                </h3>
            </header>
            <div class="cmsms_slider_post_cont_info entry-meta">
                <span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Ecology</a>, <a
                        href="open-post.html" rel="category tag">Home</a></span>
            </div>
            <div class="cmsms_slider_post_content entry-content"></div>
            <footer class="cmsms_slider_post_footer entry-meta">
                <div class="cmsms_slider_post_meta_info">
                    <a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#"
                       title="Comment on The Ozone Layer">1</a>
                    <a href="#" onclick="return false;" id="cmsmsLike-172"
                       class="cmsmsLike active cmsms-icon-heart-7"><span>1</span></a>
                    <abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="{{ .Created | displayDate }}">{{ .Created | displayDate }}</abbr>
                    <abbr class="dn date updated" title="{{ .Created | displayDate }}">{{ .Created | displayDate }}</abbr>
                </div>
            </footer>
        </div>
    </article>
    <!--_________________________ Finish Standard Article _________________________ -->
</div>

{{ end }}