{{ define "activity_card"}}
<!-- <div class="col-sm-16 business  wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="50"> -->
<div class="col-sm-16 business">
{{ $length := len .Images }}
{{ if ne $length 0 }}
    <a class="popup-img" href="/public/content/{{ (index .Images 0).Url }}">
        <div class="thumb-box"><span class="ion-arrow-expand"></span>
            <img class="img-thumbnail" src="/public/content/{{ (index .Images 0).Url }}" alt=""/>

        </div>
    </a>
{{ end }}
    <a href="/posts/{{.ID }}">
        <h3>{{ .Title}}</h3>
    </a>
    <div class="text-danger sub-info-bordered">
        <div class="time"><span class="ion-android-data icon"></span>{{ .Created | displayDate }}</div>
        {{/*<div class="comments"><span class="ion-chatbubbles icon"></span>204</div>*/}}
        {{/*<div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span*/}}
                {{/*class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span*/}}
                {{/*class="ion-ios7-star-half"></span></div>*/}}
    </div>
{{ if .Summary }}
    <p> {{ .Summary }}</p>
{{ else }}
    <p>{{ .Body  | truncatechars 300 | stripSummaryTags | unsafeHtml}}</p>
{{ end }}
    <hr>
</div>
{{ end }}
