{{define "base_footer"}}
<footer id="footer" class="cmsms_color_scheme_footer cmsms_footer_small">
    <div class="footer_bg">
        <div class="footer_inner">
            <div class="social_wrap">
                <div class="social_wrap_inner">
                    <ul>
                        <li><a href="#" class="cmsms-icon-twitter-circled" title="Twitter" target="_blank"></a></li>
                        <li><a href="#" class="cmsms-icon-facebook-circled" title="Facebook" target="_blank"></a></li>
                        <li><a href="#" class="cmsms-icon-gplus-circled" title="Google+" target="_blank"></a></li>
                        <li><a href="#" class="cmsms-icon-vimeo-circled" title="Vimeo" target="_blank"></a></li>
                        <li><a href="#" class="cmsms-icon-skype-circled" title="Skype" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <span class="copyright">Home of Mother Earth &copy; 2018 | All Rights Reserved</span>
        </div>
    </div>
</footer>
{{ end }}