{{define "carousel_item"}}
<div class="ls-slide" data-ls="slidedelay:3500; transition2d: all;">
    <img src="/public/LayerSlider/img/blank.gif" data-src="/public/LayerSlider/img/bg-blur.jpg" class="ls-bg" alt="bg-blur" />
    <img class="ls-l" style="top:0px;left:0px;white-space: nowrap;" data-ls="offsetxin:0;delayin:400;offsetxout:0;durationout:1000;parallaxlevel:1;" src="/public/LayerSlider/img/blank.gif" data-src="/public/LayerSlider/img/bg.jpg" alt="">
    <p class="ls-l" style="top:210px;left:573px;font-weight:300;font-family:open sans;font-size:54px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1300;delayin:400;offsetxout:0;">The Creation of</p>
    <p class="ls-l" style="top:280px;left:567px;font-weight:300;font-family:open sans;font-size:90px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:800;offsetxout:0;durationout:0;">a Thousand Forests</p>
    <p class="ls-l" style="top:402px;left:1089px;font-weight:300;font-family:open sans;font-size:40px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:1200;offsetxout:0;">is in one acorn</p>
    <img class="ls-l" style="top:278px;left:1354px;font-weight:300;font-family:open sans;font-size:40px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:1200;rotatein:90;rotatexin:180;rotateyin:180;offsetxout:0;" src="/public/LayerSlider/img/blank.gif" data-src="/public/LayerSlider/img/leaf.png" alt="">
</div>
{{ end }}