{{define "footer_content"}}
<div id="cmsms_row_12" class="cmsms_row cmsms_color_scheme_first" data-stellar-background-ratio="0.5">
    <div class="cmsms_row_outer_parent">
        <div class="cmsms_row_outer">
            <div class="cmsms_row_inner">
                <div class="cmsms_row_margin">
                    <div class="cmsms_column one_first">
                        <div class="cmsms_sidebar sidebar_layout_14141414">
                            <aside class="widget widget_text">
                                <h3 class="widgettitle">Services</h3>
                                <div class="textwidget">
                                    <ul>
                                        <li><a href="#">Ocean Turtle</a></li>
                                        <li><a href="#">White Tiger</a></li>
                                        <li><a href="#">Social Ecology</a></li>
                                        <li><a href="#">Loneliness</a></li>
                                        <li><a href="#">Beauty of Life</a></li>
                                        <li><a href="#">Present for You</a></li>
                                    </ul>
                                </div>
                            </aside>
                            <aside class="widget widget_text">
                                <h3 class="widgettitle">Volunteer</h3>
                                <div class="textwidget">
                                    <ul>
                                        <li><a href="#">Karen Dawson</a></li>
                                        <li><a href="#">Jack Simmons</a></li>
                                        <li><a href="#">Michael Linden</a></li>
                                        <li><a href="#">Simon Green</a></li>
                                        <li><a href="#">Natalie Channing</a></li>
                                        <li><a href="#">Caroline Gerwig</a></li>
                                    </ul>
                                </div>
                            </aside>
                            <aside class="widget widget_text">
                                <h3 class="widgettitle">About Us</h3>
                                <div class="textwidget">
                                    <ul>
                                        <li><a href="#">Our Team</a></li>
                                        <li><a href="#">Mission</a></li>
                                        <li><a href="#">Philisophy</a></li>
                                        <li><a href="#">Actions</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Biology</a></li>
                                    </ul>
                                </div>
                            </aside>
                            <aside class="widget widget_text">
                                <h3 class="widgettitle">Blog</h3>
                                <div class="textwidget">
                                    <ul>
                                        <li><a href="#">Bear Population</a></li>
                                        <li><a href="#">The Ozone Layer</a></li>
                                        <li><a href="#">Spring Melody</a></li>
                                        <li><a href="#">Save Tropic Forests</a></li>
                                        <li><a href="#">Ecology Team</a></li>
                                        <li><a href="#">Save Ocean</a></li>
                                    </ul>
                                </div>
                            </aside>
                            <div class="cl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end }}