{{define "layer_slider"}}
<div class="cmsms_row_outer_parent">
    <div class="cmsms_row_outer">
        <div class="cmsms_row_inner cmsms_row_fullwidth">
            <div class="cmsms_row_margin">
                <div class="cmsms_column one_first">
                    <div class="cmsms_slider">
                        <script type="text/javascript">var lsjQuery = jQuery;</script>
                        <script type="text/javascript">
                            lsjQuery(document).ready(function() {
                                if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1','jquery'); }
                                else { lsjQuery("#layerslider_1").layerSlider({
                                    navStartStop: false,
                                    navButtons: false,
                                    skinsPath: '/public/LayerSlider/assets/skins/'
                                })}
                            });
                        </script>
                        <div id="layerslider_1" class="ls-wp-container" style="width:1920px;height:670px;margin:0 auto;">
                        {{ template "carousel_item"}}
                            <div class="ls-slide" data-ls="slidedelay:3500; transition2d: all;">
                                <img src="/public/LayerSlider/img/blank.gif" data-src="/public/LayerSlider/img/bg-blur-pots1.jpg" class="ls-bg" alt="bg-blur-pots" />
                                <img class="ls-l" style="top:0px;left:0px;white-space: nowrap;" data-ls="offsetxin:0;durationin:800;delayin:200;offsetxout:0;durationout:1000;parallaxlevel:1;" src="/public/LayerSlider/img/blank.gif" data-src="/public/LayerSlider/img/bg-blur-pots1.jpg" alt="">
                                <p class="ls-l" style="top:195px;left:510px;font-weight:300;font-family:open sans;font-size:180px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;delayin:400;offsetxout:0;durationout:0;">10 000 000</p>
                                <p class="ls-l" style="top:526px;left:711px;font-weight:500;font-family:open sans;font-size:28px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;delayin:1000;offsetxout:0;">Are spilled in the ocean waters annually</p>
                                <img class="ls-l" style="top:161px;left:934px;font-weight:300;font-family:open sans;font-size:40px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:800;rotatexin:180;rotateyin:180;offsetxout:0;" src="/public/LayerSlider/img/blank.gif" data-src="/public/LayerSlider/img/wave.png" alt="">
                                <p class="ls-l" style="top:398px;left:838px;font-weight:300;font-family:open sans;font-size:60px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;delayin:600;offsetxout:0;durationout:0;">tons of oil</p>
                            </div>
                            <div class="ls-slide" data-ls="slidedelay:3800; transition2d: all;">
                                <img src="/public/LayerSlider/img/blank.gif" data-src="/public/LayerSlider/img/bg-blur-3.jpg" class="ls-bg" alt="bg-blur-3" />
                                <img class="ls-l" style="top:0px;left:1px;white-space: nowrap;" data-ls="offsetxin:0;durationin:800;delayin:200;offsetxout:0;durationout:1000;parallaxlevel:1;" src="/public/LayerSlider/img/blank.gif" data-src="/public/LayerSlider/img/bg-3.jpg" alt="">
                                <p class="ls-l" style="top:125px;left:373px;font-weight:300;font-family:open sans;font-size:240px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:800;delayin:400;offsetxout:0;durationout:0;">Sun</p>
                                <img class="ls-l" style="top:153px;left:791px;font-weight:300;font-family:open sans;font-size:44px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:-160;offsetyin:250;durationin:1500;delayin:800;rotatein:60;rotatexin:60;rotateyin:60;offsetxout:160;offsetyout:-250;durationout:600;" src="/public/LayerSlider/img/blank.gif" data-src="/public/LayerSlider/img/plan.png" alt="">
                                <p class="ls-l" style="top:407px;left:382px;font-weight:300;font-family:open sans;font-size:36px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:800;offsetxout:0;">Gives us clean energy</p>
                                <p class="ls-l" style="top:456px;left:381px;font-weight:300;font-family:open sans;font-size:36px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:800;offsetxout:0;">Every day</p>
                                <p class="ls-l" style="top:508px;left:380px;font-weight:300;font-family:open sans;font-size:36px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:800;offsetxout:0;">100% Free</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}